@keyframes vamtigerUserListingFadeIn
{
    0%
    {
        opacity: 0;
        visibility: hidden;
    }

    100%
    {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes vamtigerUserListingSlideIn
{
    0%
    {
        top: var(--vamtiger-user-listing-overlay-offset-top);
        opacity: 0;
    }

    100%
    {
        top: 0;
        opacity: 1;
    }
}