@import 'document-reset';
@import 'animation';
@import 'custom-properties';

vamtiger-user-registry
{
    opacity: 0;

    & [data-button],
    & form label,
    & form input
    {
        cursor: pointer;
    }

    & [data-display-grid]
    {
        display: grid;
    }

    & [data-position-relative]
    {
        position: relative
    }

    & [slot="user"]
    {
        position: relative;
        overflow: hidden;
    }

    & [slot="user"] *
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & [slot="user"]:nth-child(odd)
    {
        background-color: lightgray;
    }

    & [slot="user"]:nth-child(even)
    {
        background-color: white;
    }

    & [slot="user"] [data-delete]
    {
        display: grid;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: var(--vamtiger-user-listing-delete-button-width);
        top: 0;
        right: calc(var(--vamtiger-user-listing-delete-button-width) * -1);
        transition: var(--vamtiger-user-listing-delete-button-transition);
        background-color: white;
        color: red;
        font-size: 1.5em;
        pointer-events: none;
    }

    & [slot="user"]:hover [data-delete]
    {
        right: 0;
    }

    & [slot="overlay"]
    {
        visibility: hidden;
        position: relative;
        grid-row:  1;
        grid-column: 1;

        & [data-confirm-header]
        {
            font-size: 1.5em;
        }

        & [data-confirm-body]
        {
            font-size: 1.1em;
            margin-bottom: 1em;
        }

        &  [data-header-underline]
        {
            height: 1px;
            background-color: lightgray;
        }

        & [data-confirm-footer]
        {
            display: flex;
            flex-direction: row-reverse;

            & [data-confirm-button]
            {
                display: grid;
                justify-content: center;
                align-items: center;
                width: var(--vamtiger-user-listing-overlay-button-width);
                height: var(--vamtiger-user-listing-overlay-button-height);
            }

            & [data-confirm-button][data-confirm-button-ok]
            {
                color: var(--vamtiger-user-listing-overlay-button-text-color);
                background-color: var(--vamtiger-user-listing-overlay-button-background-color);
            }

            & [data-confirm-button][data-confirm-button-cancel]
            {
                color: var(--vamtiger-user-listing-overlay-cancel-button-text-color);
                background-color: var(--vamtiger-user-listing-overlay-cancel-button-background-color);
            }

            & [data-confirm-button]:hover
            {
                filter: inver(1);
            }

            & [data-confirm-button]:nth-child(n+2)
            {
                margin-right: 1em;
            }
        }
    }

    & input
    {
        border: 1px solid black;
    }

    & [data-confirm-body]
    {
        & [data-confirm-input-form]
        {
            grid-row-gap: 1em;

            & [data-form-group]
            {
                display: grid;
                grid-row-gap: 0.5em;
                position: relative;
                grid-auto-rows: minmax(1.2em, auto);

                & label
                {
                    display: grid;
                    grid-row-gap: 0.5em;
                }

                & input
                {
                    padding: 0.4em;
                    font-size: 1em;
                }
            }

            & [data-form-group][data-error]
            {
                & label ~ [data-error]::after
                {
                    display: inline-block;
                    content: attr(data-error);
                    font-size: 0.8em;
                    color: red;
                }
            }
        }
    }
}

vamtiger-user-registry[data-connected]
{
    animation: var(--vamtiger-user-listing-fade-in-animation);

    /* & [slot="user"]
    {
        animation: var(--vamtiger-user-listing-fade-in-animation);
    } */
}

vamtiger-user-registry[data-confirm]
{
    & [slot="overlay"]
    {
        animation: var(--vamtiger-user-listing-overlay-slide-in-animation);
    }
}

vamtiger-user-registry[data-confirm="Delete user"]
{
    & [data-confirm-delete-user]
    {
        visibility: visible;
    }
}

vamtiger-user-registry[data-confirm="Add new user"]
{
    & [data-confirm-add-new-user]
    {
        visibility: visible;
    }
}

vamtiger-user-registry[data-test-mode]
{
    & [data-confirm-button-ok]
    {
        visibility: none;

        cursor: not-allowed;
    }
}

/* layout markers*/
vamtiger-user-registry[data-layout-markers]
{
    & [slot="overlay"]
    {
        & > *:nth-child(odd)
        {
            background-color: lightsteelblue;
        }

        & > *:nth-child(even)
        {
            background-color: lightgray;
        }

        & [data-add-new-user-form] > *:nth-of-type(odd)
        {
            background-color: lightpink;

            & > *:nth-of-type(odd)
            {
                background-color: lightgreen;
            }
        }

        & [data-add-new-user-form] > *:nth-of-type(even)
        {
            background-color: darkcyan;

            & > *:nth-of-type(odd)
            {
                background-color: lightgray;
            }
        }
    }
}