@import 'animation';
@import 'custom-properties';

:host
{
    display: inline-block;
    position: relative;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

    opacity: 0;

    & button,
    & figure,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & a
    {
        margin: 0;
        padding:  0;
        border: none;
        outline: none;
        -webkit-appearance: none;
        text-decoration: none;
    }

    & [data-vamtiger-user-listing]
    {
        height: 100%;
        position: relative;
        display: grid;

        grid-template-rows: 300px 3fr 50px;

        & [data-test-mode]
        {
            position: fixed;
            top: 0;
            left: 0;
            z-index: var(--vamtiger-user-listing-fade-test-mode-z-index);

            display: grid;
            grid-gap: 0.5em;
            padding: 1em;

            font-size: 1em;
            text-transform: uppercase;
            background-color: white;

            visibility: hidden;

            & [data-separator]
            {
                height: 1px;
                background-color: lightgray;
            }

            & [data-layout-markers-controls]
            {
                display: grid;
                justify-content: center;
                grid-gap: 1em;

                & [data-layout-markers-toggle]
                {
                    height: 1em;

                    display: grid;
                    justify-content: center;
                    align-items: center;

                    cursor: pointer;

                    position: relative;
                }

                & [data-layout-markers-toggle]::before,
                & [data-layout-markers-toggle]::after
                {
                    display: inline-block;
                    content: '';
                    height: 100%;
                    grid-column: 1;
                    grid-row: 1;
                }

                & [data-layout-markers-toggle]::before
                {
                    background-color: lightsalmon;
                    transition: background-color 75ms;
                    width: 2.5em;
                    border-radius: 1em;
                }

                & [data-layout-markers-toggle]::after
                {
                    background-color: lightgray;
                    width: 1em;
                    border-radius: 100%;
                    border: 1px solid darkgray;
                    transform: scale(1.4);
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    transition: left 75ms;
                }

                & [data-layout-markers-toggle][data-active]::before
                {
                    background-color: lightskyblue;
                }

                & [data-layout-markers-toggle][data-active]::after
                {
                    left: 25px;
                }
            }
        }

        & [data-header]
        {
            display: grid;
            grid-template-rows: 1fr;
            position: relative;

            & > *
            {
                grid-column: 1;
                grid-row: 1;
                width: 100%;
                max-height: 100%;
            }

            & [data-header-overlay]
            {
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 2;
            }

            & [data-header-image]
            {
                z-index: 1;
                object-fit: cover;
                position: relative;
            }

            & [data-header-caption]
            {
                display: grid;
                justify-content: center;
                align-items: center;
                z-index: 3;

                color: white;
                font-size: 2em;
            }
        }

        & [data-body]
        {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;

            &  [data-user-listing]
            {
                display: grid;
                grid-template-rows: 50px auto;
                grid-gap: 1em;
                position: relative;

                & [data-action]
                {
                    display: flex;
                    flex-direction: row-reverse;
                    position: sticky;
                    top: 0;
                    z-index: var(--vamtiger-user-listing-fade-action-z-index);

                    background-color: white;
                }

                & [data-users]
                {
                    display: grid;
                    grid-auto-rows: 3em;
                    z-index: var(--vamtiger-user-listing-fade-user-z-index);
                }
            }
        }

        & [data-overlay]
        {
            visibility: hidden;
            overflow: auto;

            position: fixed;
            height: 100vh;
            width: 100vw;

            display: grid;
            justify-content: center;
            align-items: center;

            z-index: var(--vamtiger-user-listing-fade-overlay-z-index);

            background: radial-gradient(rgba(0, 0, 0, 0.6), black);

            & [data-confirm-delete-user]
            {
                visibility: hidden;
            }
        }

        & [data-overlay][data-confirm]
        {
            animation: var(--vamtiger-user-listing-overlay-fade-in-animation);
        }

        & [data-footer]
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            font-weight: 1em;

            & a
            {
                color: white;
                cursor: pointer;
            }

            & [data-separator]
            {
                margin: 0 0.5em;
                height: 50%;
                width: 1px;
                background-color: white;
            }
        }
    }
}

[data-action] button,
::slotted([slot="action"])
{
    width: 8em;
    display: grid;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: black;
}

::slotted([slot="header-image"]),
::slotted([slot="footer"])
{
    width: 100%;
    max-height: 100%;
    position: relative;
}

::slotted([slot="user"])
{
    display: grid;
    grid-template-columns: repeat(2, 1fr) minmax(auto, 4fr);
    align-items: center;
    grid-gap: 1em;
    padding-left: 1em;
}

::slotted([slot="overlay"])
{
    display: grid;
    grid-row-gap: 1em;
    padding: 2em;
    background-color: white;
}

/* Layout markers */
:host {
    & [data-vamtiger-user-listing][data-test-mode]
    {
        & [data-test-mode]
        {
            visibility: visible;
        }
    }

    & [data-vamtiger-user-listing][data-layout-markers]
    {

        background-color: darkgray;

        & [data-test-mode] ~ *:nth-child(odd)
        {
            background-color: lightblue;
        }

        & [data-body] > *:nth-child(odd)
        {
            background-color: lightpink;
        }

        & [data-user-listing] > *:nth-child(odd)
        {
            background-color:  lightgreen;
        }

        & [data-user-listing] > *:nth-child(even)
        {
            background-color:  lightgoldenrodyellow;
        }

        & [data-action]
        {
            background-color: lightblue;
        }
    }
}